.rankingList {
    margin-top: 50px;
    height: 670px;
    /*border: 1px solid purple;*/
}

.rankingList-box {
    /*border: 1px solid blue;*/
    width: 1180px;
    height: 670px;
    margin: 0 auto;

}

.rank-text {
    /*border: 1px solid red;*/
    text-align: left;
    height: 36px;
    /*font-size: 24px !important;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rank-text > .p1 {
    font-size: 24px !important;
    width: 96px;
    height: 27px;
    /*border: 1px solid slateblue;*/
    margin-top: 0;
}

.rank-all {
    /*border: 1px solid red;*/
    width: 1180px;
    height: 615px;
    margin-top: 15px;
    background: white;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
}

.rank-left {
    border: 1px solid #cccccc;
    width: 515px;
    height: 527px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.title {
    width: 515px;
    height: 73px;
    /*border: 1px solid darkblue;*/
    text-align: left;
    font-weight: 400;
    /*padding: 27px 55px 24px;*/
    font-size: 22px;
    line-height: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #333333;
    position: relative;
}

.title-text {
    /*border: 1px solid black;*/
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.douhao {
    margin-top: 15px;
    font-size: 30px;
}

.world {
    z-index: 1;
}


.title > p {
    padding-left: 30px;
    /*line-height: 50px;*/
}
.title1 {
    width: 103px;
    margin-top: -32px;
    margin-left: 42px;
    border: 5px solid #cccccc;
    /*z-index: 0;*/
}

.china {
    /*border: 1px solid yellow;*/
    width: 515px;
    height: 450px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /*padding-left: 30px;*/
}

.china > a {
    /*border: 1px solid gray;*/
    width: 485px;
    height: 44px;
    line-height: 40px;
    padding-left: 30px;
    font-size: 16px;
    /*line-height: 44px;*/
    white-space: nowrap;
}

.c-a1, .c-a2, .c-a3 {
    color: red;
}

.c-a1,.c-a3,.c-a5,.c-a7,.c-a9 {
    background: #f7f7f7;
}

.rank-right {
    border: 1px solid #cccccc;
    width: 515px;
    height: 527px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

